


.searchContainer {
    text-align: center;
    margin-top: 50px;
    margin: auto;
    width: 400px;
    padding: 10px;
}

.formStyle {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background: white;
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 1.0);
    transition: all .2s ease-in;
}

.searchBox {
    width: auto;
    font-size: 23px;
    text-align: left;
    appearance: none;
    outline: none;
    border: 0px;
    padding: 14px;
    padding-left: 0px;
    text-transform: uppercase;
}

.searchIconStyle {
    float: left;
    width: 30px;
    margin-top: 12px;
    margin-left: 40px;
    margin-right: 0px;
}





.suggestionBoxStyle {
    background: white;
    height: 400px;
    display: none;
    text-align: left;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: auto;
}








/*
.formStyle:focus-within {
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 1.0);
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
*/

/*
.formStyle:focus-within + .suggestionBoxStyle {
    display: block;
}
.formStyle:hover + .suggestionBoxStyle {
    display: block;
}
*/

.formStyle:hover {
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 1.0);
}



