html {

}

body {
  background: #333333;
}

/*
::-webkit-scrollbar {
  background: transparent;
  width: 9px;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 20px;
}
*/
/*
::-webkit-scrollbar {
  background: gray;
}
::-webkit-scrollbar-thumb {
  background: black;
}
*/



/*To make the loading spinner spin*/
@keyframes spin {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(360deg);}
}



.App {
  padding-bottom: 80px; /* A little more than the height of the footer*/
}